<main class="side-main">
    <!--================ Hero sm Banner start =================-->
    <section class="hero-banner mb-30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-banner__img">
                        <img class="img-fluid" src="assets/img/banner/indeximg.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-5 pt-5">
                    <div class="hero-banner__content">
                        <h1>Bienvenue sur FREEMID</h1>
                        <p>FreeMid est une plateforme de mise en relation
                            entre freelances et clients.
                            Permettre aux freelances de proposer
                            leurs services et aux clients de publier des projets.</p>

                        <a class="button bg" routerLink="/role">Inscription</a>
                        <a class="button bg" routerLink="/auth/signin">Connexion</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ Hero sm Banner end =================-->

    <!--================ Section des fonctionnalités de Freemid start =================-->
    <section class="section-margin">
        <div class="container">
            <div class="section-intro pb-85px text-center">
                <h2 class="section-intro__title">Quelques Domaines d'intervention des freelance</h2>
                <p class="section-intro__subtitle">Freemid intervient dans divers donmaines <br> notament des domaines
                    tels que</p>
            </div>

            <div class="container">
                <div class="row mb-4">
                    <div class="col-lg-4">
                        <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                            <span class="card-feature__icon">
                                <i class=" ti-split-v-alt"></i>
                            </span>
                            <h3 class="card-feature__title">Informatique et Developpement</h3>
                            <p class="card-feature__subtitle">Suivez l'avancement des projets en temps réel et gérez les
                                différentes étapes depuis une interface intuitive et complète.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                            <span class="card-feature__icon">
                                <i class="ti-palette "></i>
                            </span>
                            <h3 class="card-feature__title">Décoration et Art</h3>
                            <p class="card-feature__subtitle">Effectuez des transactions en toute sécurité grâce à notre
                                système de paiements sécurisé et protégez vos échanges financiers.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                            <span class="card-feature__icon">
                                <i class="ti-video-camera"></i>
                            </span>
                            <h3 class="card-feature__title">Photographie et Designer</h3>
                            <p class="card-feature__subtitle">Notre équipe de support est là pour vous aider à chaque
                                étape et pour répondre à toutes vos questions rapidement.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-feature__icon">
                            <i class="ti-facebook"></i>
                        </span>
                        <h3 class="card-feature__title">Community Manager</h3>
                        <p class="card-feature__subtitle">Suivez l'avancement des projets en temps réel et gérez les
                            différentes étapes depuis une interface intuitive et complète.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-feature__icon">
                            <i class="ti-briefcase"></i>
                        </span>
                        <h3 class="card-feature__title">Comptabilité</h3>
                        <p class="card-feature__subtitle">Effectuez des transactions en toute sécurité grâce à notre
                            système de paiements sécurisé et protégez vos échanges financiers.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-feature__icon">
                            <i class="ti-user"></i>
                        </span>
                        <h3 class="card-feature__title">Manager</h3>
                        <p class="card-feature__subtitle">Notre équipe de support est là pour vous aider à chaque étape
                            et pour répondre à toutes vos questions rapidement.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ Section des fonctionnalités de Freemid end =================-->

    <!--================ Section à propos de Freemid start =================-->
    <section class="section-padding--small bg-magnolia">
        <div class="container">
            <div class="row no-gutters align-items-center">
                <div class="col-md-5 mb-5 mb-md-0">
                    <div class="about__content">
                        <h2>Transformez la Collaboration entre Freelances et Clients</h2>
                        <p>Freemid révolutionne la manière dont les freelances et les clients se connectent. Notre
                            plateforme simplifie le processus de recherche de talents, la gestion des offres et les
                            collaborations tout en garantissant des paiements sécurisés et une communication fluide.</p>
                        <!--a class="button button-light" href="#">En savoir plus</a-->
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="about__img">
                        <img class="img-fluid" src="assets/img/home/about.png"
                            alt="Freemid - Connexion entre Freelances et Clients">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ Section à propos de Freemid end =================-->

    <!--================ Offer section start =================-->
    <section class="section-margin">
        <div class="container">
            <div class="section-intro pb-85px text-center">
                <h2 class="section-intro__title">Fonctionnalités Offertes</h2>
                <p class="section-intro__subtitle">Nous vous offrons des fonctionnalités simples et flexibles afin de
                    vous permettre d'avoir des solutions pour tous vos projets </p>
            </div>

            <div class="row">
                <div class="col-lg-6">

                    <div class="row offer-single-wrapper">
                        <div class="col-lg-6 offer-single">
                            <div class="card offer-single__content text-center">
                                <span class="offer-single__icon">
                                    <i class="ti-pencil-alt"></i>
                                </span>
                                <h4> Recherche de Freelances</h4>
                                <p>'Trouver facilement des experts pour votre projet.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 offer-single">
                            <div class="card offer-single__content text-center">
                                <span class="offer-single__icon">
                                    <i class="ti-ruler-pencil"></i>
                                </span>
                                <h4>Gestion de Projets</h4>
                                <p>Suivez l'avancement de vos projets en temps réel.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row offer-single-wrapper">
                        <div class="col-lg-6 offer-single">
                            <div class="card offer-single__content text-center">
                                <span class="offer-single__icon">
                                    <i class="ti-cut"></i>
                                </span>
                                <h4> Système d'Évaluation </h4>
                                <p>Notez et évaluez les services après chaque prestation.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 offer-single">
                            <div class="card offer-single__content text-center">
                                <span class="offer-single__icon">
                                    <i class="ti-light-bulb"></i>
                                </span>
                                <h4>Paiements Sécurisés</h4>
                                <p>Effectuez vos transactions en toute confiance.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="offer-single__img">
                        <img class="img-fluid" src="assets/img/home/offer.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ Offer section end =================-->

    <!--================ Solution section start =================-->
    <!--section class="section-padding--small bg-magnolia">
      <div class="container">
        <div class="row align-items-center pt-xl-3 pb-xl-5">
          <div class="col-lg-6">
            <div class="solution__img text-center text-lg-left mb-4 mb-lg-0">
              <img class="img-fluid" src="img/home/solution.png" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="solution__content">
              <h2>Comment ça marche ?</h2>
              <p>- 1.Postez votre projet : Décrivez votre besoin et recevez des propositions.</p>
              <p>- 2. Choisissez un freelance : Sélectionnez l'expert qui correspond le mieux à vos attentes.</p>
              <p>- 3. Collaborez facilement : Communiquez et gérez votre projet depuis votre tableau de bord.</p>
              <p>- 4. Paiement sécurisé : Payez uniquement lorsque vous êtes satisfait du travail.
              </p>
              <a class="button button-light" href="#">Savoir Plus</a>
            </div>
          </div>
        </div>
      </div>
    </section-->





</main>
