<main class="side-main">
  <!--================ Hero sm Banner start =================-->
  <section class="hero-banner mb-30px">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="hero-banner__img">
            <img class="img-fluid" src="assets/img/banner/about.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-5 pt-5">
          <div class="hero-banner__content">
            <h1> FREEMID</h1>
            <p>Votre nouvelle plateforme pour freelance exerçant <br>
              dans différents domaines de se faire connaitre <br>
              et faire valoir leurs competences. <br>L’objectif principal de cette plate-forme <br>
              est de mettre en relation
              des freelances et des clients à la recherche de services spécifiques. <br>
              Les freelances peuvent proposer
              leurs compétences et services, tandis que les clients peuvent publier des projets, <br>
              consulter des profils,
              et engager des freelances pour réaliser leurs missions. </p>


          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ Hero sm Banner end =================-->

  <!--================ Section des fonctionnalités de Freemid start =================-->
  <section class="section-margin">
    <div class="container">
      <div class="section-intro pb-85px text-center">
        <h2 class="section-intro__title">Nos objectifs</h2>
        <!--p class="section-intro__subtitle">Freemid intervient dans divers donmaines <br> notament des domaines tels que</p-->
      </div>

      <div class="container">
        <div class="row mb-4">
          <div class="col-lg-4">
            <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">


              <p class="card-feature__subtitle">Faciliter la mise en relation entre freelances et clients. </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">


              <p class="card-feature__subtitle">Assurer des transactions sécurisées via un système de paiement intégré.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">


              <p class="card-feature__subtitle">Offrir une gestion centralisée et intuitive des projets.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">


            <p class="card-feature__subtitle">Permettre une communication directe entre freelances et clients.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">


            <p class="card-feature__subtitle">Effectuez des transactions en toute sécurité grâce à notre système de
              paiements sécurisé et protégez vos échanges financiers.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-feature text-center text-lg-left mb-4 mb-lg-0">


            <p class="card-feature__subtitle">Fournir des évaluations pour assurer la qualité des services..</p>
          </div>
        </div>
      </div>
    </div>
    </section>

  <!--================ Solution section start =================-->
  <!--section class="section-padding--small bg-magnolia">
      <div class="container">
        <div class="row align-items-center pt-xl-3 pb-xl-5">
          <div class="col-lg-6">
            <div class="solution__img text-center text-lg-left mb-4 mb-lg-0">
              <img class="img-fluid" src="img/banner/freelance.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="solution__content">
              <h2>Comment devenir un freelance ?</h2>
              <p>- 1.Créer un compte freelance.</p>
              <p>- 2.scouscrire à un de nos abonnements.</p>
              
            
            </div>
          </div>
        </div>
      </div>
    </section-->
  <!--================ Section des fonctionnalités de Freemid end =================-->

  <!--================ Section à propos de Freemid start =================-->
  <section class="section-padding--small bg-magnolia">
    <div class="container">
      <div class="row no-gutters align-items-center">
        <div class="col-md-5 mb-5 mb-md-0">
          <div class="about__content">
            <h2>Transformez la Collaboration entre Freelances et Clients</h2>
            <p>Freemid révolutionne la manière dont les freelances et les clients se connectent. Notre plateforme
              simplifie le processus de recherche de talents, la gestion des offres et les collaborations tout en
              garantissant des paiements sécurisés et une communication fluide.</p>
            <!--a class="button button-light" href="#">En savoir plus</a-->
          </div>
        </div>
        <div class="col-md-7">
          <div class="about__img">
            <img class="img-fluid" src="assets/img/home/about.png" alt="Freemid - Connexion entre Freelances et Clients">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ Section à propos de Freemid end =================-->




  <!--================ Solution section start =================-->
  <section class="section-padding--small bg-magnolia">
    <div class="container">
      <div class="row align-items-center pt-xl-3 pb-xl-5">
        <div class="col-lg-6">
          <div class="solution__img text-center text-lg-left mb-4 mb-lg-0">
            <img class="img-fluid" src="assets/img/home/solution.png" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="solution__content">
            <h2>Comment ça marche ?</h2>
            <p>- 1.Postez votre projet : Décrivez votre besoin et recevez des propositions.</p>
            <p>- 2. Choisissez un freelance : Sélectionnez l'expert qui correspond le mieux à vos attentes.</p>
            <p>- 3. Collaborez facilement : Communiquez et gérez votre projet depuis votre tableau de bord.</p>
            <p>- 4. Paiement sécurisé : Payez uniquement lorsque vous êtes satisfait du travail.
            </p>
            <!--a class="button button-light" href="#">Savoir Plus</a-->
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--section id="charte">
      <div class="politic">
        <div class="titre">
          <h1>Charte de confidentialité</h1>
        </div>
        <div class="col-lg-9 col-md-9 blog_details">
          <div>
            <h2>Réalisation du projet</h2>
            <p>En cas d’acceptation pour la réalisation du projet, le client<br> devra verser la moitié du montant 
            à la plateforme. <br> cete somme sera gardée sur le compte de la plateforme<br> jusqu'a la fin de la réalisation du projet <br>
             Apres réalisation du projet et validaton  le client <br> vesera la totalité à la plateforme<br>
            et elle se chagera du paiment du freelance .<br>
            
            <Si le paiement n’est pas effectué, la plateforme se réserve le droit de retirer le profil du
            freelancer tout en alliant des poursuites judiciaires.></p>
          </div>
          <div class="col-lg-9 col-md-9 blog_details">
            <h2>Désengagement</h2>
            <p>Nous ne serons pas responsable des 
              mésentente en cas de rencontre <br> entre client et freelance sans aviser 
               notre plateforme. </p> 

          </div>

        </div>

      </div>

    </section-->


</main>