body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.catalog-title {
  text-align: center;
  margin-top: 20px; /* Ajout d'un espace au-dessus du titre */
  font-size: 2rem;
  color: #343a40;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc; /* Bordure pour visibilité */
  transition: border-color 0.3s; /* Transition pour l'effet de focus */
}

.btn-search {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.offer-card {
  position: relative;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
  overflow: hidden;
  transition: transform 0.2s;
}

.offer-card:hover {
  transform: scale(1.05);
}

.offer-image {
  width: 100%;
  height: auto;
}

.offer-details {
  padding: 15px;
}

.offer-title {
  font-size: 1.5rem;
  color: #007bff;
}

.offer-description {
  font-size: 1rem;
  color: #6c757d;
}

.offer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.offer-price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #28a745;
}

.offer-date {
  font-size: 0.9rem;
  color: #6c757d;
}

.btn-view {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-view:hover {
  background-color: #0056b3;
}

.availability-status {
  position: absolute; /* Position absolue pour le placement en haut à droite */
  top: 10px; /* Ajustez selon vos besoins */
  right: 10px; /* Ajustez selon vos besoins */
  background-color: #28a745; /* Vert pour 'En cours' */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  .btn-pagination {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:disabled {
      background-color: #6c757d; // Couleur grise pour le bouton désactivé
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: #0056b3;
    }
  }
}
