<!-- footer.component.html -->
<footer class="hero-banner hero-banner--sm mb-30px">
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
          <a class="navbar-brand logo_h" routerLink="/"><img src="assets/img/logo.png" alt=""></a>
          <p>Plateforme de mise en relation entre Freelances et Clients.</p>
        </div>
        <div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
          <h4>Liens Utils</h4>
          <ul>
            <li><a routerLink="/">Accueil</a></li>
            <li><a routerLink="feature">Fonctionnalités</a></li>
            <li><a routerLink="pricing">Nos Tarifs</a></li>
            <li><a routerLink="about">À propos de Nous</a></li>
            <li><a routerLink="contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>