.offer-list {
  padding: 20px;
}

.search-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.offer-count {
  font-size: 18px;
  margin-bottom: 20px;
}

.offer-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.offer-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  transition: transform 0.2s, box-shadow 0.2s;
}

.offer-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  color: green; /* Couleur pour le statut en cours */
  font-weight: bold;
}

.card-footer {
  text-align: right;
  margin-top: 10px;
}

.button-details {
  background-color: #73b4ff;
  color: white;
  border: none;
  border-radius: 12px; /* Bords arrondis */
  padding: 10px 20px; /* Espacement interne */
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darkblue; /* Couleur au survol */
  }

  &:focus {
    outline: none; /* Supprimer l'outline au focus */
  }
}

