.offer-list {
  padding: 20px;
}

.search-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc; /* Bordure pour visibilité */
  transition: border-color 0.3s; /* Transition pour l'effet de focus */
}

.search-input:focus {
  border-color: #007bff; /* Changement de couleur lors du focus */
  outline: none; /* Supprimer l'outline par défaut */
}

.offer-count {
  font-size: 18px;
  margin-bottom: 20px;
}

.offer-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.offer-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  transition: transform 0.2s, box-shadow 0.2s;
}

.offer-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  color: green; /* Couleur pour le statut en cours */
  font-weight: bold;
}

.card-footer {
  display: flex; /* Alignement avec flex */
  justify-content: flex-end; /* Aligner les boutons à droite */
  margin-top: 10px;
  gap: 10px; /* Espacement entre les boutons */
}

.btn {
  padding: 6px 12px; /* Espacement interne réduit pour un bouton plus petit */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem; /* Taille de police réduite */
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  transform: scale(0.98);
}

.button-details {
  background-color: #73b4ff;
  color: white;
  border: none;
  border-radius: 12px; /* Bords arrondis */
  padding: 8px 16px; /* Espacement interne pour un bouton agréable */
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-details:hover {
  background-color: darkblue; /* Couleur au survol */
}

.button-details:focus {
  outline: none; /* Supprimer l'outline au focus */
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-pagination {
  padding: 6px 12px;
  border: 1px solid #ddd;
  background-color: #f8f9fa;
  cursor: pointer;
  margin: 0 5px;
}

.btn-pagination:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-info {
  margin: 0 10px;
}
