<div class="row">
  <!-- order-card start -->
  @for (card of cards; track card) {
    <div class="col-md-6 col-xl-3">
      <app-card [hidHeader]="true" cardClass="{{ card.background }} order-card">
        <h6 class="text-white">{{ card.title }}</h6>
        <h2 class="text-end text-white">
          <i class="feather {{ card.icon }} float-start"></i>
          <span>{{ card.number }}</span>
        </h2>
      </app-card>
    </div>
  }
  <!-- order-card end -->

  <!-- account-section start -->
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Projects Progress" [options]="false">
      <apx-chart
        [chart]="chartOptions.chart!"
        [dataLabels]="chartOptions.dataLabels!"
        [stroke]="chartOptions.stroke!"
        [series]="chartOptions.series!"
        [xaxis]="chartOptions.xaxis!"
        [colors]="chartOptions.colors!"
        [fill]="chartOptions.fill!"
        [markers]="chartOptions.markers!"
        [yaxis]="chartOptions.yaxis!"
      ></apx-chart>
    </app-card>
  </div>

  <!-- New section for freelance statistics start -->
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Freelancer Statistics" [options]="false">
      <apx-chart
        [chart]="chartOptions_1.chart!"
        [dataLabels]="chartOptions_1.dataLabels!"
        [stroke]="chartOptions_1.stroke!"
        [series]="chartOptions_1.series!"
        [colors]="chartOptions_1.colors!"
        [fill]="chartOptions_1.fill!"
      ></apx-chart>
    </app-card>
  </div>
  <!-- New section for freelance statistics end -->

  <!-- New section for active projects start -->
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Active Projects" [options]="false">
      <apx-chart
        [chart]="chartOptions_2.chart!"
        [dataLabels]="chartOptions_2.dataLabels!"
        [stroke]="chartOptions_2.stroke!"
        [series]="chartOptions_2.series!"
        [colors]="chartOptions_2.colors!"
        [fill]="chartOptions_2.fill!"
      ></apx-chart>
    </app-card>
  </div>
  <!-- New section for active projects end -->
</div>
